{% extends 'base-admin.html.twig' %}

{% block title %}Trang quản lý user{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/admin-user.js') }}"></script>
{% endblock %}

{% block body %}
    {% if num_page > 0 %}
    <div id="list_user" class="table-responsive">
        <table class="table table-hover">
            <thead class="thead-dark">
            <tr>
                <th>STT</th>
                <th>Tên đăng nhập</th>
                <th>Họ tên</th>
                <th>Ngày sinh</th>
                <th>Email</th>
                <th>Số điện thoại</th>
                <th>Giới tính</th>
                <th>Số dư</th>
                <th>Hành động</th>
            </tr>
            </thead>
            <tbody>
            {% for user in list_user %}
                <tr id="user{{ user.id }}">
                    <th scope="row">{{ loop.index }}</th>
                    <td>{{ user.tendangnhap }}</td>
                    <td>{{ user.hoten }}</td>
                    <td>{{ user.ngaysinh|date('d-m-Y') }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.sodt }}</td>
                    <td>{{ user.gioitinh }}</td>
                    <td>{{ user.sodu }}</td>
                    <td>
                        <a href="{{ path('edit_user_admin',{id:user.id}) }}"><button class="btn btn-primary btn-sm">Sửa</button></a>
                        {% if user.quyen == -1 %}
                            <button class="btn btn-success btn-sm" type="button" id="unlock-button" onclick="lock_unlock({{ user.id }})">Mở khóa</button>
                            <button class="btn btn-danger btn-sm" onclick="delete_user({{ user.id }})">Xóa</button>
                        {% else %}
                            <button class="btn btn-dark btn-sm" type="button" id="lock-button" onclick="lock_unlock({{ user.id }})">Khóa</button>
                            <button class="btn btn-danger btn-sm" onclick="delete_user({{ user.id }})">Xóa</button>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div id="pagination">
        <ul class="pagination justify-content-center">
            <li class="page-item disabled">
                <button class="page-link" id="previous-page">Trước</button>
            </li>
            {% for i in 1..num_page%}
                {% if i <= 5 %}
                    <li class="page-item">
                        <button class="page-link" id="pagination-button{{ i }}" onclick="topage({{ i }})">{{ i }}</button>
                    </li>
                {% endif %}
            {% endfor %}
            {% if num_page > 5 %}
                <li class="page-item">
                    <button class="page-link">...</button>
                </li>
            {% endif %}
            {% if num_page == 1 %}
                <li class="page-item disabled">
                    <button class="page-link" id="next-page">Sau</button>
                </li>
            {% else %}
                <li class="page-item">
                    <button class="page-link" id="next-page" onclick="topage(2)">Sau</button>
                </li>
            {% endif %}
        </ul>
    </div>
    <script>
        $(document).ready(function () {
            $('#pagination-button1').parent().addClass('active');
        })
    </script>
    {% else %}
        <div class="row"><h3 style="margin: 10% auto;">Không tìm thấy kết quả!</h3></div>
    {% endif %}
    {% if message != null %}
        <script>
            window.onload = function () {
                alert("{{ message }}");
            }
        </script>
    {% endif %}
{% endblock %}
