<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
    <link rel="stylesheet" href="{{ asset('css/trangchu.css') }}" />
    <script src="{{ asset('js/main.js') }}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <!-- Latest compiled JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
<body class="container-sm" style="margin-bottom: 50px;">
<div class="top">
    <img src="/images/group-game.jfif">
    <ul>
        {% if app.session.get('current_user')!=null %}
            <li><a href="{{ path('logout_user') }}" style="text-decoration: none"><button class="btn btn-info">Đăng xuất</button></a></li>
            <li>
                <div class="dropdown show">
                    <a class="dropdown-toggle text-info" href="javascript:void(0);" role="link" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-user-circle"></i>
                    </a>

                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item" href="{{ path('my_info') }}">Thông tin cá nhân</a>
                        <a class="dropdown-item" href="{{ path('change_password') }}">Đổi mật khẩu</a>
                        <a class="dropdown-item" href="">Nạp tiền</a>
                        {% if app.session.get('current_user').quyen == 0 %}
                            <a class="dropdown-item" href="{{ path('verticalEmail') }}">Kích hoạt tài khoản</a>
                        {% endif %}
                    </div>
                </div>
            </li>
            <li>
                <div style="font-size: 75%;" class="text-info">
                    <strong>{{ app.session.get('current_user').hoten }}</strong><br>
                    <em>Số dư: {{ app.session.get('current_user').sodu }}</em>
                </div>
            </li>
        {% else %}
            <li><a href="{{ path('login_user') }}" style="text-decoration: none"><button class="btn btn-info">Đăng nhập</button></a></li>
        {% endif %}
    </ul>
</div>
<div class="main">
    <nav class="navbar navbar-expand-sm bg-info navbar-dark">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/">Trang chủ</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{{ path('list_account') }}">Mua acc game</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{{ path('card-game') }}">Mua card game</a>
            </li>
            {% if app.session.get('current_user')!=null %}
            <li class="nav-item active">
                <a class="nav-link " href="{{ path('my_mission') }}">Nhiệm vụ của tôi</a>
            </li>
            {% endif %}
        </ul>
        {% if app.session.get('current_user')!=null %}
        <input type="text" class="form-control" id="search" name="search" style="width: 40%;position: relative; left: 185px;">
        {% else %}
            <input type="text" class="form-control" id="search" name="search" style="width: 40%;position: relative; left: 320px;">
        {% endif %}
    </nav>
    <div class="main">{% block body %}{% endblock %}</div>
</div>
</body>
</html>
