{% extends 'base.html.twig' %}

{% block title %}Danh sách game{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/user-listgame.js') }}"></script>
{% endblock %}

{% block body %}
    <div class="container content">
        {% if num_page > 0 %}
        <div id="list-game" class="row" style="margin-top: 15px;">
            {% for game in list_game %}
                <div id="game{{ game.id }}" class="col-12 col-md-3 col-lg-3" style="margin-bottom: 15px;">
                    <a href="{{ path('danhsach_tkgame',{id:game.id}) }}">
                        <img src="{{ game.anh == "" ? "/images/games/0.jpg" : game.anh }}" alt="{{ game.tengame }}" title="{{ game.tengame }}" style="width: 100%; height: 180px">
                    </a>
                    <div>
                        <h4 align="center">{{ game.tengame }}</h4>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div id="pagination">
            <ul class="pagination justify-content-center">
                <li class="page-item disabled">
                    <button class="page-link" id="previous-page">Trước</button>
                </li>
                {% for i in 1..num_page%}
                    {% if i <= 5 %}
                        <li class="page-item">
                            <button class="page-link" id="pagination-button{{ i }}" onclick="topage({{ i }})">{{ i }}</button>
                        </li>
                    {% endif %}
                {% endfor %}
                {% if num_page > 5 %}
                    <li class="page-item">
                        <button class="page-link">...</button>
                    </li>
                {% endif %}
                {% if num_page == 1 %}
                    <li class="page-item disabled">
                        <button class="page-link" id="next-page">Sau</button>
                    </li>
                {% else %}
                    <li class="page-item">
                        <button class="page-link" id="next-page" onclick="topage(2)">Sau</button>
                    </li>
                {% endif %}
            </ul>
        </div>
        <script>
            $(document).ready(function () {
                $('#pagination-button1').parent().addClass('active');
            })
        </script>
        {% else %}
            <div class="row"><h3 style="margin: 10% auto;">Không tìm thấy kết quả!</h3></div>
        {% endif %}
    </div>
{% endblock %}
